@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');
:root{
	--invert: invert(1);
	--grayscale:grayscale(1);	
}
 *{
	transition: .3s;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1;
}
h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Source Sans Pro', sans-serif;
	
}
p {
    font-weight: 200;
    font-size: 1.05rem;
}
a{
	color: #00b657
}

a:hover{
	color: #00b657
}

.row.no-padd {
    margin: 0px;
}
.row.no-padd  {
    margin: 0px;
}

.sec-head {
    text-align: center;
    margin-bottom: 50px;
}
.sec-head h2 {
    font-weight: 600;
    text-transform: capitalize;
}

.btn {
    background-color: #04b261;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.05rem;
}

.btn:hover, .btn:focus, .btn:active {
    background: #029E55;
    color: #fff;
}

.btn.outline {
    border: 1px solid;
    background-color: transparent;
    color: #04b261;
}

.btn.outline:hover{
    background-color: #04b261;
    color:#fff;
}
/* Start header------------*/

.invert {
    filter: var(--invert);
}
.limeHeader .navbar {
    padding:0px;
}
.limeHeader .navbar .navbar-brand {
    width: 180px;
}
.limeHeader .navbar .navbar-nav li a {
    font-weight: 600;
    font-size: .92rem;
    margin: 0px 10px;
    color: #0a0a0a;
}
.limeHeader .navbar .nav-item .nav-link {
    padding-top: 25px;
    padding-bottom:25px;
}
.limeHeader .navbar .navbar-nav li.demo-btn a {
    border: 1px solid;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 7px 15px;
    margin-top: 18px;
    position: relative;
}
.limeHeader .navbar .navbar-nav li.demo-btn a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0%;
    width: 100%;
    background: #04b261;
    z-index: -1;
    transition: .3s;
}
.limeHeader .navbar .navbar-nav li.demo-btn a:hover{
	color: #fff;
	border-color:#04b261;
}
.limeHeader .navbar .navbar-nav li.demo-btn a:hover:before{
	height: 100%;
}
.limeHeader .dropdown:hover>.dropdown-menu {
  display: block;
}
.limeHeader .dropdown {
    position: static;
}
.limeHeader .dropdown .dropdown-toggle::after ,
.limeHeader .dropdown .dropdown-toggle::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 9px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 1px;
    border-top: 0px;
    margin-top: 4px;
    margin-left: 5px;
}
.limeHeader .dropdown .dropdown-toggle::before {
    bottom: -12px;
    border: 10px solid;
    border-color: transparent;
    border-top-color: #04b261;
    border-left-color: #04b261;
    opacity: 0;
    transition: .3s;
}
.limeHeader .dropdown:hover .dropdown-toggle::before{
	opacity: 1;
}
.limeHeader .container {
    position: relative;
}
.limeHeader .mega-menu {
    max-width: 1000px;
    width: 90%;
    border: 0px;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.08);
    right: 0px;
    left: inherit;
    padding: 20px 10px 0px 10px;
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
    top: 105%;
    border-radius: 0px;
}
.limeHeader .dropdown:hover .mega-menu{
	top: 99%;
	opacity: 1;
	visibility: visible;
}
.mega-menu .links {
    padding: 0px;
    list-style: none;
}

.limeHeader .mega-menu .links li > a {
    display: inline-block;
    margin: 0px;
    margin-bottom: 10px;
    background: rgb(247, 249, 249);
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    border:1px solid #f5f5f5;
    transition: .3s;

}
.limeHeader .mega-menu .links li > a:hover{
	border-color: #04b261;
	text-decoration: none;
}
.mega-menu .col-sm-8 {
    border-left: 1px solid #eee;
}
.mega-menu .links li h5 {
    font-size: 13px;
    font-weight: bold;
}
.mega-menu .links li h6 {
    font-size: 10px;
}
.mega-menu .item-wrap h4 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #04b261;
}
.limeHeader .mega-menu .content-wrap {
    padding: 50px 0px 0px 20px;
}
.limeHeader .mega-menu .content-wrap h4 {
    font-size: 18px;
    font-weight: 700;
}

.limeHeader.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(43, 26, 26, 0.24);
    z-index: 999;
    background: #fff;
}


/* End header------------*/


/*Start Home Page-----------------*****************---------
-----------------------------------------*/

/* Start Hero Banner--------------*/

.heroBanner {
    background: #f7f7f7;
    padding: 80px 0px 0px 0px;
}
.heroBanner .content-wrap h2 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
}
.heroBanner .content-wrap {
    margin-bottom: 50px;
}
/* End Hero Banner--------------*/

/* Start Clients Logo Section------------*/
.clientsLogo-sec{
	padding: 80px 0px;
}
.clientsLogo-sec .pic-wrap {
    width: 20%;
    float: left;
}
.clientsLogo-sec .pic-wrap .pic {
    width: 80px;
    filter: var(--grayscale);
    
}
.clientsLogo-sec h2 {
    font-weight: 700;
    font-size: 23px;
    max-width: 200px;
    margin-top: 60px;
    float: right;
}

/* Start Clients Logo Section------------*/

/*Start Info Section 1*/
.info-sec1 {
    text-align: center;
    background: #f7f7f7;
    padding: 80px 0px;
    padding-bottom: 50px;
}
.info-sec1 .content-wrap {
    max-width: 800px;
    margin: auto;
}
.info-sec1 .content-wrap h2 {
    margin-bottom: 30px;
    font-weight: 600;
}

/*End Info Section 1*/

/*Start product Section-------------*/

.product-sec {
    padding: 80px 0px;
}

.product-sec .item-wrap h3 {
    font-weight: 600;
    font-size: 22px;
}

.product-sec .item-wrap {
    padding: 50px 30px 20px 30px;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px 0px rgba(197, 197, 197, 0.36);
    border-top: solid 2px #00b657;
    border-radius: 3px;
    min-height: 350px
}
.product-sec .item-wrap ul{
	padding-left: 0px;
	list-style: none;
}
.product-sec .item-wrap ul li a {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
}

.product-sec .item-wrap ul li a::before {
    content: "\f061";
    position: relative;
    font-family: FontAwesome;
    font-size: 10px;
    margin-right: 10px;
}
/* Start Rating Section*/
.rating-sec{
	padding: 80px 0px;
}
.rating-sec .container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.rating-sec .pic-wrap {
    width: 33.3%;
    float: left;
}
.rating-sec p {
    font-style: italic;
}
.rating-sec .pic-wrap:nth-child(3) .logo img {
    width: 232px;
    padding-top: 12px;
}

.rating-sec .logo {
    min-height: 75px;
}
.rating-sec .logo img {
    width: 180px;
    padding: 0px;
}
.rating-sec .rating {
    width: 200px;
    margin: auto;
}
.rating-sec .rating img{
	width: 100%;
}

/* End Rating section*/


/* Start logo Slider Section*/

.logo-slider-sec {
    background: #f7f7f7;
    padding: 80px 0px 10px 0px;
}

.logo-slider-sec .pic-wrap{
	width: 150px;
	filter: var(--grayscale);
}

.logo-slider-sec .pic-wrap:hover{
	filter: inherit;
}
.logo-slider-sec .owl-nav{
	display: none;
}

/* end logo Slider Section*/


/* Start Case Study Section*/
.case-study-sec .col-sm-6 {
    padding: 0px;
}
.case-study-sec .slide {
    position: relative;
}
.speaks-slider .content-wrap {
    position: absolute;
    z-index: 2;
    top: 30px;
    padding: 0px 100px;
    text-align: center;
    color: #fff;
}
.speaks-slider p{
	font-style: italic;
}
.speaks-slider p {
    font-style: italic;
    font-weight: 400;
}
.speaks-slider .clients-info{
	margin-bottom: 20px;
}
.speaks-slider .clients-info h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.speaks-slider .clients-info h5 {
    font-size: 15px;
}

.play-btn {
    width: 50px;
    display: inline-block;
}

.case-study-sec .item-wrap .pic-wrap {
    width: 80px;
    margin-bottom: 30px;
}
.case-study-sec .item-wrap {
    padding: 40px 50px;
    height: 280px;
}
.case-study-sec .item-wrap:nth-child(1) {
    background: #00b657;
    color: #fff;
}
.case-study-sec .item-wrap:nth-child(1) a {
    color: #fff;
}
.case-study-sec .item-wrap:nth-child(2) {
    background: #f7f7f7;
}
.case-study-sec .item-wrap h4 {
    margin-bottom: 20px;
}

.case-study-sec .item-wrap a {
    font-weight: 600;
    text-transform: uppercase;
}
.case-study-sec .wrap {
    height: 100%;
}
.speaks-slider {
    height: 560px;
    overflow: hidden;
}

.speaks-slider .owl-nav button.owl-prev,
.speaks-slider .owl-nav button.owl-next {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 40px;
}
.speaks-slider .owl-nav button.owl-prev{
	left: 0;
}
.speaks-slider .owl-nav button.owl-next{
	right: 0;
}
.yvideo-modal .modal-dialog {
    max-width: 700px;
}
.video-wrap button.close {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 999;
    background: #fff;
    text-shadow: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    opacity: 1;
}
/* End Case Study Section*/

/* Start Enquiry Form Section--------*/

.form-sec {
    padding: 80px 0px;
}
.form-sec .sec-head h2 span{
	color: #00b657;
}

.form-sec .sec-head {
    margin-bottom: 10px;
}

.form-sec .sec-head p {
    max-width: 400px;
    margin: auto;
}

.form-sec .form-wrap {
    max-width: 450px;
    margin: auto;
}
.form-sec .form-group {
    margin-bottom: 6px;
}
.form-sec .form-control {
    background: #eceff1;
    border: 0px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 0px;
    padding: 0px 15px;
    height: 42px;
    outline: 0px;
    color: rgba(0,0,0,0.75);
    transition: ease all 0.5s;
}
.form-sec input:focus,
.form-sec input:hover,
.form-sec select:focus,
.form-sec select:hover {
    border-radius: 0px;
    box-shadow: 0 9px 18px 0 rgba(207, 207, 207, 0.62);
}
.form-sec button {
    margin-top: 30px;
}
.form-sec h5 {
    text-align: center;
    font-size: 14px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.5;
}


/* Start limetray Footer*/
.site-footer {
    background-color: #263238;
    padding-top: 50px;
}
.site-footer .item-wrap h4 {
    color: #fff;
    font-size: 13.5px;
    font-weight: 600;
    margin-bottom: 15px;
}
.site-footer .item-wrap a,
.limetray-copyright p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 13px;
    font-weight: 600;
}
.site-footer .item-wrap ul li {
    width: 50%;
    float: left;
    margin-bottom: 7px;
}
.site-footer .item-wrap ul {
    padding: 0px;
    list-style: none;
}
.country-btn {
    padding: 0px 20px;
    background: transparent;
    border: 0px;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
}
.country-btn::before {
    content: '';
    position: absolute;
    right: 0px;
    border: 5px solid transparent;
    top: 8px;
    border-top-color: #fff;
}
.country-sites {
    position: relative;
    display: inline-block;
}
.country-btn i {
    font-size: 15px;
    position: relative;
    top: 1px;
}
.country-btn span {
    font-size: 14px;
    margin-left: 4px;
    text-transform: uppercase;
}
.country-sites.open .dropdown {
    display: block;
    opacity: 1;
}

.country-sites .dropdown {
    position: absolute;
    bottom: 100%;
    right: 0px;
    background: #fff;
    padding: 0px 10px;
    min-width: 100px;
    opacity: 0;
    display: none;
}
.country-sites .dropdown a {
    display: block;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin: 10px 0px;
}
.country-sites .dropdown a:hover{
	color: #222;
}
.site-footer {
    background-color: #263238;
}
.site-footer a{
    color: #fff;
}
.site-footer a:hover{
	color: #fff;
}
.foot-social a {
    margin-right: 10px;
}
.limetray-copyright {
    border-top: 1px solid rgba(216, 216, 216, 0.1);
    margin-top: 50px;
    padding-top: 10px;
}

.foot-social a:nth-last-child(1){
	margin:0px;
}



/*End Footer*/
/*End Home Page-----------------*****************---------
-----------------------------------------*/


/* Start Product Page-------------*************
--------------------*/

/* Start product Banner*/
.heroBanner.product-banner {
    background: #fff;
    min-height: inherit;
    padding-bottom: 0px;
}
.heroBanner.product-banner .content-wrap {
    margin-bottom: 50px;
    margin-top: 12%;
}

.heroBanner.product-banner .wrap {
    position: relative;
    width: 114%;
}
.product-banner .wrap .owl-carousel {
    width: 66%;
    margin: auto;
    position: absolute;
    top: 14%;
    left: 17.5%;
    height: 58%;
    overflow: hidden;
}
/* End product Banner*/

/* Start laptop Video tabs*/
.lap-tab-sec {
    padding: 80px 0px;
}

.lap-tab-sec > .container > .row{
    flex-direction: row-reverse;
}
.lap-tab-sec .tab li{
    list-style: none;
}
.lap-tab-sec .tab a {
    display: block;
    padding: 0px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 20px;
    background: transparent;
    color: #222;
    text-decoration: none;
}
.lap-tab-sec .tab h3 {
    font-size: 22px;
    font-weight: 600;
}


.lap-tab-sec .progress-bar {
    height: 2px;
    background: #eee;
    position: relative;
    z-index: 1;
}

.lap-tab-sec .progress-bar:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    background: #04b261;
    z-index: 2;
    transition: ease all 8s;
}
.lap-tab-sec .tab li.active .progress-bar:before{
    width: 100%;
}

.lap-tab-sec .vid-bg img {
    width: 100%;
}
.lap-tab-sec .pic-wrap {
    position: relative;
}
.lap-tab-sec .pic-wrap .tab-content {
    position: absolute;
    top: 12.5%;
    left: 5.3%;
    width: 90%;
    border: 0px;
    height: 81%;
    overflow: hidden;
}

/* Style the tab content */
.lap-tab-sec .tabcontent {
  display: none;
}

.lap-tab-sec .tabcontent {
  display: none;
}

.lap-tab-sec .tabcontent.active {
  display: block;
}

/* End laptop Video tabs*/

/* Start Mobile Video tabs*/

.lap-tab-sec.mob-sec {
    padding-bottom: 0px;
    background: #f7f9f8;
}
.lap-tab-sec.mob-sec .pic-wrap {
    width: 400px;
    margin: auto;
    margin-top: -60px;
}
.lap-tab-sec.mob-sec .pic-wrap .tab-content {
    top: 15%;
    left: 19.3%;
    width: 62%;
}

.lap-tab-sec.mob-sec > .container > .row {
    flex-direction: initial;
}


.lap-tab-sec .pic-wrap1 img {
    width: 100%;
}



/* End Mobile Video tabs*/

/* Start PD section 1*/

.pd-sec1 {
    padding-top: 80px;
}

.pd-sec1 .pic-wrap {
    width: 95%;
    box-shadow: rgb(220, 220, 220) 0px 2px 64px 0px;
}
.pd-sec1 .content-wrap h3 {
    font-weight: 600;
    font-size: 23px;
}
.pd-sec1 .link {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 600;
}
.pd-sec1 .content-wrap {
    margin-top: 20px;
}

/* Start Features section---------*/

.features-sec {
    padding: 80px 0px;
    background: #f7f9f9;
    text-align: center;
    padding-bottom: 30px;
}

.features-sec .item-wrap {
    margin-bottom: 50px;
}

.features-sec .pic-wrap {
    max-width: 54px;
    margin: auto;
    margin-bottom: 15px;
}
.features-sec .pic-wrap img {
    width: 100%;
    max-height: 37px;
}
.features-sec .item-wrap h3 {
    font-weight: 600;
    font-size: 23px;
}


/* Start template Section---*/

.temp-sec {
    padding: 80px 0px 50px 0px;
}
.temp-sec .item-wrap {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.temp-sec .item-wrap > img {
    width: 100%;
    margin-bottom: 10px;
}

.temp-sec .wrap {
    position: absolute;
    top: 11%;
    width: 94.5%;
    left: 2.8%;
}

.temp-sec .pic-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.53);
    transition: .3s;
    opacity: 0;
    text-decoration: none;

}
.temp-sec .pic-overlay span {
    color: #fff;
    border: 2px solid;
    padding: 3px 13px;
    border-radius: 5px;
}

.temp-sec .item-wrap:hover .pic-overlay{
    opacity: 1;
}

.temp-sec .item-wrap h5 {
    font-size: 15px;
    font-weight: 600;
}


/* Start Form section------*/

.form-sec.gray {
    background: #f7f9f9;
}

/* Start Blog Section-----*/

.blog-sec {
    padding: 80px 0px 30px 0px;
}
.blog-sec .item-wrap {
    padding: 15px 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.07);
}
.blog-sec .pic-wrap {
    margin-bottom: 15px;
}
.blog-sec .item-wrap h3 {
    font-size: 21px;
    padding-right: 10px;
    font-weight: 600;
    margin-bottom: 12px;
}
.blog-sec .item-wrap p {
    min-height: 150px;
    font-size: 15px;
}
.blog-sec .item-wrap .btn {
    background: transparent;
    color: #04b261;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.lime-accrodion {
    padding: 80px 0px;
}
.lime-accrodion .card {
    border: 0px;
    margin-bottom: 10px;
}
.lime-accrodion .card-header a {
    color: #222;
    font-weight: 600;
}
.lime-accrodion .card-header {
    padding: 17px;
    border:0px;
}

/* End template Section---*/


/* End Product Page-------------*************
--------------------*/


/* Start Clients Page-----**************************
-------------------------------------------------*/

/*clients slider Section*/

.clients-speak-sec {
    background: #f5f5f5;
}

.clients-speak-sec .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12%;
    height: 100%;
}

.clients-speak-sec h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    color: #777474;
    margin-bottom: 30px;
    line-height: 1.2;
}

.clients-speak-sec .content h4 {
    font-weight: 500;
    font-size: 22px;
}

.clients-speak-sec .pic img {
    width: inherit;
    max-width: 75px;
}

.bgr-singh {
    height: 580px;
    background-color: #222;
    background-image: url('../assets/img/new-clients/burger-singh_02.jpg');
}


/* Start Media Query---------------*/

@media( max-width: 1280px){

.heroBanner {
    padding: 50px 0px;
}
.heroBanner .content-wrap h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.product-sec .item-wrap {
    min-height: 400px;
}
.case-study-sec .owl-carousel .pic-wrap img {
    width: auto;
    height: 100%;
    max-width: inherit;
}


/* Start Product Page*/

.heroBanner.product-banner .wrap {
    width: 100%;
}


}

@media( max-width: 1024px){

 .product-sec {
    padding-bottom: 0px;
}
.limeHeader .mega-menu {
    width: 100%;
}   

}

@media( max-width: 992px){

.heroBanner .content-wrap h2 {
    font-size: 30px;
}
.heroBanner .content-wrap {
    margin-bottom: 20px;
}
.container {
    max-width: initial;
}
.clientsLogo-sec, .form-sec,.info-sec1,.rating-sec {
    padding: 50px 0px;
}
.case-study-sec .col-sm-6{
    max-width: 100%;
    flex: 100%;
}   
.case-study-sec .item-wrap{
    height: auto;
} 
.case-study-sec .owl-carousel .pic-wrap img {
    width: 100%;
    height: auto;
}


/* Start Product Page*/

.lap-tab-sec > .container > .row {
    flex-direction: inherit;
}

.lap-tab-sec > .container > .row > .col-md-5,
.lap-tab-sec .col-md-6,
.lap-tab-sec > .container > .row > .col-md-7 {
    max-width: 100%;
    flex: inherit;
}

.lap-tab-sec .pic-wrap {
    position: relative;
    width: 600px;
    margin: auto;
    max-width: 100%;
}

.lap-tab-sec .tab {
    padding-left: 0px;
}
.pd-sec1 .col-md-6 {
    flex: inherit;
    max-width: 100%;
   
}
.pd-sec1 .col-md-6 .pic-wrap {
    width: 100%;
    margin-bottom: 30px;
}
.features-sec .col-sm-4 {
    max-width: 100%;
    flex: 50%;
}
.temp-sec .col-md-4 {
    width: 50%;
}
/* End Product Page*/

}

@media(max-width: 767px){

.product-sec .col-sm-4 {
    flex: 100%;
    max-width: 100%;
}
.product-sec .col-sm-4 .item-wrap {
    min-height: inherit;
    margin-bottom: 30px;
}
.rating-sec .logo img {
    width: 200px;
    padding: 0px;
}
.rating-sec .pic-wrap {
    width: 100%;
    margin-bottom: 30px;
}
.rating-sec .pic-wrap:nth-child(3) .logo img {
    width: 270px;
}

}

@media( max-width: 575px){
    
 p {
    font-size: 14px;
}
.limeHeader .navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 999;
}   
.limeHeader .navbar {
    padding: 5px 15px;
}
.limeHeader .navbar .navbar-brand {
    width: 150px;
}
.limeHeader .navbar .navbar-collapse {
    padding: 15px 0px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 50px;
}
.limeHeader .navbar .nav-item .nav-link {
    padding: 7px 0px;
}
.limeHeader .navbar-nav.ml-auto .nav-item .nav-link {
    font-size: 22px;
    text-transform: uppercase;
    padding: 2px 0px;
}
.limeHeader .navbar-nav.ml-auto{
    margin-bottom: 20px;
}
.limeHeader .dropdown:hover>.dropdown-menu {
    display: none;
}
.limeHeader  .dropdown-menu.mega-menu.show {
    display: block;
}
.limeHeader .mega-menu {
    box-shadow: none;
    position: relative;
}
.mega-menu .item-wrap h4 {
    font-size: 15px;
    font-weight: 500;
}
.limeHeader .mega-menu .links li > a {
    background: transparent;
    border: 0px;
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px;
}
.mega-menu .links {
    padding: 10px;
    margin-bottom: 20px;
    background: #f5f5f5;
    border-radius: 5px;
}
.mega-menu .links li h6 {
    display: none;
}
.mega-menu .links li h5 {
    font-weight: 500;
    font-size: 14px;
}
.mega-menu .links h5::after {
    content: "\2192";
    font-weight: bold;
    position: absolute;
    margin-left: 5px;
    color: #00b657;
    font-family: monospace;
}
.limeHeader .dropdown .dropdown-toggle::before {
    display: none;
}

.limeHeader .navbar .d-sm-none a.nav-link {
    font-weight: 500;
    font-size: 16px;
    padding: 2px 0px;
}
.limeHeader .divider {
    height: 5px;
}
.limeHeader .social {
    margin: 20px 0px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.limeHeader .navbar .navbar-nav li.demo-btn a {
    display: inline-block;
    background: #04b261;
    border-color: #04b261;
    color: #fff;
}
.navbar-light .navbar-toggler {
    border: none;
    padding: 0px;
    outline: 0px;
}
.limeHeader .social a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #E6E6E6;
    color: rgb(54, 54, 61);
    text-align: center;
    padding-top: 5px;
    border-radius: 50px;
    font-size: 19px;
    margin-right: 5px;
}
.heroBanner {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 90px;
}

.heroBanner  {
    text-align: center;
}
.heroBanner .pic-wrap {
    margin-top: 30px;
}
.clientsLogo-sec h2 {
    float: none;
    text-align: center;
    margin-top: 0px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
}
.clientsLogo-sec .pic-wrap {
    width: 25%;
}
.clientsLogo-sec .pic-wrap .pic {
    width: 62px;
    margin: auto;
}
.clientsLogo-sec .pic-wrap:nth-last-child(1),
.clientsLogo-sec .pic-wrap:nth-last-child(2) {
    display: none;
}
.info-sec1 .content-wrap h2 {
    font-size: 24px;
}
.sec-head h2 {
    font-size: 24px;
}
.speaks-slider .content-wrap {
    padding: 30px 20px;
    top: 0px;
    position: relative;
    background-image: linear-gradient(to top, #212020 78%, rgba(255, 255, 255, 0));
    margin-top: -69px;
}
.rating-sec .logo img {
    width: 150px;
}

.rating-sec .logo {
    min-height: inherit;
}
.rating-sec .pic-wrap:nth-child(3) .logo img {
    width: 200px;
    margin-bottom: 10px;
}
.speaks-slider {
    height: auto;
}
.speaks-slider .owl-dots {
    display: none;
}
.site-footer {
    text-align: center;
}
.site-footer .col-sm-4:nth-child(1) {
    display: none;
}
.col-sm-4.text-right {
    text-align: center !important;
}
.foot-social {
    margin-bottom: 50px;
}

/* Start Product Page*/

.heroBanner.product-banner .content-wrap {
    margin-top: 0%;
}
.product-banner .wrap .owl-carousel {
    top: 4%;
    height: 72%;
}
.features-sec .col-sm-4 {
    flex: inherit;
}
.features-sec .item-wrap .content-wrap {
    max-width: 300px;
    margin: auto;
}
.features-sec .item-wrap h3 {
    font-size: 18px;
}
.temp-sec .col-md-4 {
    width: 100%;
    padding: 0px 30px;
}
}
/*******************************Home Page***************************************************/
/* testimonials */
#testimonials .carousel-indicators li{width: 15px; height: 15px; border: 2px solid #000; background-color: #000000; border-radius: 3px;}
#testimonials .carousel-indicators li.active{background-color: #fff;}
#testimonials .carousel-inner {padding: 0px 0px 50px 0px; background-color: rgb(35, 50, 57);}
#testimonials .carousel-item{margin-top: 100px;}
#testimonials .testi-text {width: 50%;float: right;color: #fff;font-family: 'Source Sans Pro', sans-serif;font-size: 25px;margin-right: 5%;}
#testimonials .testi-footer {width: 100%;position: relative;background-color: rgb(35, 50, 57);height: 120px;clear: both;margin: 25px auto;float: left;}
#testimonials .testi-footer img {vertical-align: middle;display: inline-block;}
#testimonials .testi-footer .quoteicon {width: 50px;height: auto;margin: 35px 70px;}
#testimonials .testi-footer .custimg {width: 450px;height: auto;/*position: absolute; bottom: -10px;*/ margin-top: -225px;}
.testi-ftr-wrap {max-width: 1240px;margin-left: auto;margin-right: auto;}
.cust-pro-info {float: right;color: #fff;width: 50%;margin-right: 5%;padding-top: 10px;}
.cust-pro-info span.cust_name {font-size: 20px;text-transform: uppercase;font-family: robotomedium;}
.cust-pro-info span.cust_pro {font-size: 25px;font-family: robotoregular;}
.cust-pro-info span {clear: both;float: left;}
.testi-text-wrap {max-width: 1240px;margin-left: auto;margin-right: auto;}

@media (max-width:992px){
  #testimonials .testi-text {width: 90%;font-size: 20px; margin-right: 5%;  }
  #testimonials .testi-footer{height: auto; padding: 10px;}
  #testimonials .testi-footer .quoteicon { width: 20px;height: auto;  margin: 0px; float: left; }
  #testimonials .testi-footer .custimg { width: 60px;height: auto; margin: 0px;  float: left; }
  .cust-pro-info span.cust_name{font-size: 15px;}
  .cust-pro-info span.cust_pro{font-size: 13px;}
  .blog .carousel-indicators{bottom: 0px;}
  .cust-pro-info { float: left;color: #fff;width: auto;margin-right: 0;padding-top: 10px; margin-left: 15px;}
}


/*Media object*/

.media a:hover, .media a:focus
{
  text-decoration: none;
  outline: none;
}
.media .media-left .icon 
{
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px 6px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 50%;
}
.media .media-left .icon::before
{
  font-size: 44px;
}

.card {
    border: 1px solid rgb(255, 255, 255)!important;
}



.media {
    padding: 11px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    
    margin-bottom: 10px;
    margin-left: 30px;
    padding-top: 40px;
    padding-bottom: : 40px;
}



